:root{

	--color-1: #4D5059;
	--color-2: #2E608C;
	--color-3: #4E94BF;
	--color-4: #F2BF80;
	--color-5: #D9A273;
}
body { 
	background-color: var(--color-3) !important;
	font-family: "Lato", Times, serif !important;
}
footer{
	border-radius: 20px 20px 0 0;
	margin-top: 500px !important;
}
input{
	outline: none !important;
}
input:focus {
  color: black !important;
  background-color: #F3F3F3 !important;
  outline: none !important;
}
input:active {
  border: none !important;
}

body::-webkit-scrollbar {
  width: 17px;
  border-radius: 50px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}
body::-moz-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-3);    /* color of the scroll thumb */
  border-radius: 50px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}
body::-moz-scrollbar-thumb {
  background-color: var(--color-3);    /* color of the scroll thumb */
  border-radius: 50px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

table > tbody > tr > td > a{
	text-decoration: none !important;
	padding: 2px;
}

/* NAVBAR */
#barra-nav{
	background-color: var(--color-2) !important;
	border-radius: 0 0 20px 20px;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}
#navbarsExampleXxl > ul  {
	font-size: 20px !important;
}
#navbarsExampleXxl > ul > li > a{
	color: white !important;
}
#logo-blanco{
	margin-left: 10px !important;
	width: 20%;
}
.dropdown-menu {
	opacity: 90%
}
.dropdown-menu > li > a{
	font-weight: bold !important;
}
#Btn_atras > img{
	width: 60%;
}

#Btn_salir > img{
	width: 60%;
}

#Icon-face > img{
	width: 1.5%;
	margin-left: 1%;
}
#Icon-insta > img{
	width: 1.5%;
}

/* LOGIN */

@keyframes cambiar{
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0 50%;}
}

#cuerpoLogin, {
	background: linear-gradient(45deg,var(--color-1),var(--color-2),var(--color-3),var(--color-4));
	background-size: 300% 300%;
	animation: cambiar 10s ease-in-out infinite !important;
	}

#Img_login{
	width: 5%;
	margin: 20px auto;
}
#DivLogin{
	background-color: white;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.7);
	height: 500px;
	padding: 30px;
	width: 350px;
}
#TitleLogin{
	/* margin: 30px 10px; */
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
#ParrafoLogin{
	margin-bottom: 40px;
}
#exampleInputEmail1, #exampleInputPassword1{
	border: none !important;
}

#BotonLogin{
	margin: 50px 100px 50px 100px;
	background-color: var(--color-2) !important;
}
#RecLogin{
	background-color: white;
	color: black;
	cursor: pointer;
	margin: 50px 60px 50px 60px;
}
#RecLogin: visited{
	color: black;
}
#btnModalRec{
	background-color: var(--color-2);
}

/* PANEL DE CONTROL */

.titulosDiv{
	color: white ;
	font-size: 20px !important;
	font-weight: 1200 !important;
}
.card-header{
	background-color: var(--color-4) !important;
	font-weight: 1200 !important;

}
.card-body{
	padding: 0 !important;
}
.card-body > ul{
	text-align: center;
	list-style: none;
	padding: 0 !important;
}
.card-body > ul > li{
	border-bottom: 1px solid black;
	padding: 5px 10px 5px 10px;
}
.card-body > ul > li> a{
	color: black;
	font-weight: bold;
	text-decoration: none !important;
}
#divNotificaciones{

}
#divUsuarios, #divConjuntos, #divFacturas, #divReportes, #divNotificaciones{
	border:  4px solid black;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5) !important;
}

#btnNuevaNot, #btnNuevoUsuario{
	background-color: var(--color-2);
}

/* USUARIOS Y ROLES */

#divUsuariosRoles{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 450px;
	margin-top: 40px;
	padding: 0;
	width: 600px;
}
.titulosDivForm{
	background-color: var(--color-4);
	height: 35px;
	border-radius: 10px 10px 0 0;
}
#titleUsuariosRoles,#titleFormUsuario > p{
	padding-top: 5px;
	padding-left: 15px;
	font-weight: bold;
}
#tablaUsuariosRoles{
	margin: 30px auto;
	width: 80%;
	text-align: center;
	border:  3px solid black; 

}
#tablaUsuariosRoles > tbody > tr > td > a{
	text-decoration: none !important;
	margin:  3px;
}
#tablaUsuariosRoles > tbody > tr  {
	border:  1px solid black;

}#tablaUsuariosRoles > thead {
	background-color: var(--color-1);
	color:  white;
}
#btnNuevoUsuario{
	position: relative;
	margin-left: 37%;

}
#tablaModalCrearUsuario{
	margin-top: 10px;
}
#tablaModalCrearUsuario > .row > .col > input , #selectUsuario{
	margin: 5px 0 5px 0 ;
}
#selectUsuario{
	margin-bottom: 30px;
}
#btnCrearusuario{
	background-color: var(--color-2);
}

/* FORMULARIO USUARIO */

#divFormUsuario, #divFormConjunto{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 780px;
	margin-top: 40px;
	padding: 0 0 30px 0;
	width: 600px;
	margin-bottom: 70px; 
}
.btnsEnviar{
	margin-top: 20px;
	background-color: var(--color-2) !important;
}

#selectFormUsuario{
	margin-top: 20px;
	margin-bottom: 20px;
}
.Formularios{
	margin-top: 20px;
}
.Formularios > div > input {
	color: white !important;
	background-color: var(--color-1);
}
.Formularios > div > input:focus {
	background-color: var(--color-1) !important;

}
.Formularios > div > div >input {
	color: white !important;
	background-color: var(--color-1);
}
.Formularios > div > div >input:focus {
	background-color: var(--color-1) !important;

}

#formFormUsuario > div > input {
	padding:0.25em !important;
}
#formFormUsuario > div > div > input {
	padding:0.25em !important;
}

/* FORMULARIO CONJUNTO */
#btnBuscarConjunto, #btnBuscarPropiet, #btnBuscarTorres, #btnBuscarInmueble{
	color:white; margin: 20px 33%;
}

.centrarLabels{
	text-align: center;
}

/* FORMULARIO PROPIETARIO */

#divFormPropiet{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 2400px !important;
	margin-top: 40px;
	padding: 0 0 30px 0;
	width: 600px;
	margin-bottom: 70px; 
}

#divVincularPropiet{
	width: 580px;
	height:400px ;
	border:  2px solid black;
	margin: auto;
	border-radius: 10px;
	background-color: var(--color-1);
}
.letraBlanca{
	color: white !important;
}

#lineaHorizontal{
	border: 1px solid black;
}

#formBuscarPropiet{
	padding: 10px;
}

#btnVincularPropiet{
 	margin-top: 30px !important;
	background-color: var(--color-2) !important;
}

/* FORMULARIO TORRES */

#divFormTorres{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 1200px;
	margin-top: 40px;
	padding: 0 0 30px 0;
	width: 600px;
	margin-bottom: 70px; 
}

/* FORMULARIO INMUEBLES */

#divFormInmueble{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 650px;
	margin-top: 40px;
	padding: 0 0 30px 0;
	width: 600px;
	margin-bottom: 70px; 
}

/* LISTA MOVIMIENTOS */

#divListaMovimientos, #divListaCartera, #divListaReporteProp, #divListaReportePago {
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
	height: 3000px;
	margin-top: 40px;
	padding: 0 0 30px 0;
	width: 1100px;
	margin-bottom: 70px; 
}
/*  color del icono del input tipo date */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
#tablaMovimientos, #tablaCartera{
	width: 900px;
}

/* LISTA CARTERA */

/* LISTA REPORTE PROPIETARIO */
#inputPropReporte::-webkit-input-placeholder { color: white; } /* WebKit */
#inputPropReporte::-moz-placeholder { color: white; } /* Firefox 19+ */

/* MEDIA QUERIES */

@media (max-width: 768px) { 
	#Btn_atras > img{
	display: none;
	}

#Btn_salir > img{
	width: 5%;
	}
#Icon-insta > img{
	width: 4%;
}
#Icon-face > img{
	width: 4%;
}
#Img_login{
	width: 15%;
	margin: 20px auto;

}
#divPrincipal{
	margin: auto !important;
}
#divUsuariosRoles{
	height: 400px;
	width: 350px;
}
#btnNuevoUsuario{
	margin-left: 30%;
	margin-bottom: 10px;
	margin-top: -5px;
}
#btnBuscarConjunto{
	color:white; margin: 20px 35% ;
}
#divVincularPropiet{
	width: 480px;
	height:400px ;
	border:  2px solid black;
	margin: auto;
	border-radius: 10px;
}
#divFormInmueble, #divListaMovimientos, #divListaCartera, #divListaReporteProp , #divListaReportePago{
	width: 450px;

}
#divFormInmueble, #divListaMovimientos, #divListaCartera, #divListaReporteProp, #divListaReportePago > form{
	padding: 0 15px;
}


}
